@import url(./__add-button/profile__add-button.css);
@import url(./__avatar-image/profile__avatar-image.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__info-row/profile__info-row.css);
@import url(./__info/profile__info.css);
@import url(./__job/profile__job.css);
@import url(./__name/profile__name.css);

.profile {
  display: flex;
  width: 882px;
  margin: 0 auto 47px;
}



@media screen and (max-width: 350px){
.profile {
    margin: 0 auto 36px;
}
}
@media screen and (max-width: 700px) {
.profile {
    flex-direction: column;
    align-items: center;
}
}
@media screen and (max-width: 875px) {
.profile {
    width: calc(100% - 50px);
}
}