
.modal__close-button {
  background-image: url(../../../images/Close-Icon-white.png);
     position: absolute;
    background-color: transparent;
    color: white;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2;
    align-self: end;
    transition: opacity .5s ease-in-out;
    z-index: 10;
  top: -35px;
  right: -35px;
  width: 40px;
  height: 40px;
}



@media screen and (max-width: 425px) {
 .modal__close-button {
    right: -12%;
}
}

@media screen and (max-width: 575px) {
.modal__close-button {
    width: 30px;
    height: 30px;
}}