.elements {
    max-width: 882px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
    row-gap: 21px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 900px) {
  .elements {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 361px);
    justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .elements {
       grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 361px);
        justify-content: center;
  }
    }

@media screen and (max-width: 425px) {
    .elements {
        grid-template-columns: none;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 20px;
        max-width: calc(100% - 20px);
    }
}