

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
}
.modal__container::after{
  content: "";
  position: fixed;
  z-index: 2;
  background-color: black;
  opacity: .5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
