@import url(./_active/form__container_active.css);

.form__container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  width: 100%;
}
.form__container::after{
  content: "";
  position: fixed;
  z-index: 2;
  background-color: black;
  opacity: .5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}