@import url(./__button/modal__button.css);
@import url(./__close-button/modal__close-button.css);
@import url(./__container/modal__container.css);
@import url(./__input/modal__input.css);
@import url(./__popup-form/modal__popup-form.css);
@import url(./__text/form__text.css);
@import url(./__container/_active/modal__container_active.css);



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000002;
    display: none;
    justify-content: center;
    align-items: center;
}