
@import url(./__container/modal__container.css);
@import url(./__container/_active/modal__container_active.css);
@import url(./__button/modal__button.css);
@import url(./__close-button/modal__close-button.css);

@import url(./__input/modal__input.css);
@import url(./__popup-form/modal__popup-form.css);
@import url(./__text/modal__text.css);



.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
}